body{
    background-image: url(https://i.pinimg.com/1200x/7d/08/bb/7d08bbd2d6f810cdb6896b247cd009a0.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.info{
    width: 96%;
    border-radius: 20px;
    box-shadow: 0px 0px 6px white;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: scale(1);
    transition: .5s;
    padding: 10px;
    margin: 2%;
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
    position: relative;
    height: 800px;
}
.info:hover{
    width: 96%;
    border-radius: 20px;
    box-shadow: 0px 0px 6px white;
    box-sizing: border-box;
    overflow-x: hidden;
    transform: scale(1.03);
    transition: .5s;
    padding: 10px;
    margin: 2%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.heading{
    color: white;
}
.subheading{
    color: white;
}
.details{
    position: relative;
    left: 100px;
    top: 100px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    gap: 10px;
    color: white;
    position: relative;
    left: 27.5%;
}
.heading{
    position: relative;
    left: 23%;
    display: flex;
    gap: 15px;
}
.subheading{
    position: relative;
    left: 24%;
    font-size: large;
}
.letter{
    display: inline-block;
    transform: scale(1);
    transition: .3s;
}
.letter:hover{
    transform: scale(1.2);
    transition: .3s;
    color: #b8b4b4;
}
.btn_head{
    gap:  20px;
    position: relative;
    top: 40px;
    margin: 0%;
}
.btn_resume{
    background-color: transparent;
    color: white;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    transform: scale(1);
    transition: .4s;
    position: relative;
    left: 14%;
    bottom: -85px;
    font-size: xx-large;
    background-color: transparent;
    backdrop-filter: blur(10);
}
.btn_resume:hover{
    cursor: pointer;
    background-color: transparent;
    backdrop-filter: blur(10);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 6px;
    transform: scale(1.2);
    transition: .3s;
}
.btn_project{
    background-color: transparent;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    transform: scale(1);
    transition: .4s;
    position: relative;
    left: 30%;
    bottom: -85px;
    font-size: xx-large;
    backdrop-filter: blur(10);
}
.btn_project:hover{
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 6px;
    transform: scale(1.2);
    transition: .3s;
}

.MY{
    position: relative;
    left: 40%;
    bottom: 50px;
    font-size: x-large;
}
.i{
    position: relative;
    left: 39%;
    bottom: 15px;
    font-size: xx-large;
}
.w{
    position: relative;
    left: 21%;
    bottom: 70px;
    font-size: x-large;  
}
.s{
    background-color: transparent;
    color: white;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    transform: scale(1);
    transition: .4s;
    position: relative;
    left: 46%;
    bottom: -85px;
    font-size: xx-large;
    background-color: transparent;
    backdrop-filter: blur(10);
}
.s:hover{
    cursor: pointer;
    background-color: transparent;
    backdrop-filter: blur(10);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 6px;
    transform: scale(1.2);
    transition: .3s;    
}
.xr{
    transform: scale(1);
    transition: .5s;
}
.xr:hover{
    transform: scale(1.15);
    transition: .5s;
    color: #b8b4b4;
}
.game{
    transform: scale(1);
    transition: .5s;
}
.game:hover{
    transform: scale(1.15);
    transition: .5s;
    color: #b8b4b4;
}
.ai{
    transform: scale(1);
    transition: .5s;
}
.ai:hover{
    transform: scale(1.15);
    transition: .5s;
    color: #b8b4b4;
}
