body{
    background-image: url(https://i.pinimg.com/1200x/64/6d/1a/646d1a854ef5798608d3d481cb3d5af3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.info{
    width: 1400px;
    position: relative;
    left: 50px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px white;
    box-sizing: border-box;
    overflow-x: hidden;
    transform: scale(1);
    transition: 1s;
    padding: 10px;
    backdrop-filter: blur(10px);
}
.info:hover{
    width: 1400px;
    position: relative;
    left: 50px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px white;
    box-sizing: border-box;
    overflow-x: hidden;
    transform: scale(1.05);
    transition: 1s;
}
.heading{
    color: white;
}
.subheading{
    color: white;
}
.img{
    width: 250px;
    height: 250px;
    background-color: white;
    position: relative;
    left: 1000px;
    bottom: 120px;
    border-radius: 30px;
    
    
}
img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 3px 6px white;
    transform: scale(1);
    transition: .4s;
}
img:hover{
    transform: scale(1.1);
    transition: .4s;
}
.details{
    position: relative;
    left: 100px;
    top: 100px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    color: white;

}
.letter{
    display: inline-block;
    transform: scale(1);
    transition: .3s;
}
.letter:hover{
    transform: scale(1.2);
    transition: .3s;
    color: #b8b4b4;
}
.btn_head{
    word-spacing: 20px;
    position: relative;
    top: 40px;
}
.btn_resume{
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    transform: scale(1);
    transition: .4s;
}
.btn_resume:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 6px;
    transform: scale(1.2);
    transition: .3s;
}
.btn_project{
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
}
.btn_project:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 6px;
    transform: scale(1.2);
    transition: .3s;
}
