body{
    background-color: rgb(0, 0, 0);
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info{
    width: 1150px;
    position: relative;
    left: 50px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px white;
}
.heading{
    color: white;
}
.subheading{
    color: white;
}
.img{
    width: 250px;
    height: 250px;
    background-color: white;
    position: relative;
    left: 800px;
    bottom: 120px;
    border-radius: 30px;
    
    
}
img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 3px 6px white;
    transform: scale(1);
    transition: .4s;
}
img:hover{
    transform: scale(1.1);
    transition: .4s;
}
.details{
    position: relative;
    left: 100px;
    top: 100px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    color: white;

}
.letter{
    display: inline-block;
    transform: scale(1);
    transition: .3s;
}
.letter:hover{
    transform: scale(1.2);
    transition: .3s;
    color: #b8b4b4;
}
.btn_head{
    word-spacing: 20px;
    position: relative;
    top: 40px;
}
.btn_resume{
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    transform: scale(1);
    transition: .4s;
}
.btn_resume:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 6px;
    transform: scale(1.2);
    transition: .3s;
}
.btn_project{
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
}
.btn_project:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 6px;
    transform: scale(1.2);
    transition: .3s;
}
.about{
    color: white;
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 80px;
}
.abouth{
    font-size: 20px;
}